@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    background-color: v.$primario;
    padding-block: 6rem;

    &__barra {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        @include m.desktop {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__heading {
        text-align: center;
        color: v.$blanco;
        font-size: 2.8rem;
        padding: 0;
        @media (min-width: 400px) {
            font-size: 3rem;
        }
        @include m.telefono {
            font-size: 3.6rem;
        }
    }
    &__span {
        text-align: center;
        display: block;
        font-size: 2.7rem;
        color: darken(v.$beige, 7%);
        margin: 0 auto 2rem auto;
        @media (min-width: 400px) {
            font-size: 2.8rem;
        }
        @include m.telefono {
            font-size: 3.2rem;
        }
    }

    &__email {
        display: flex;
        order: 3;
        justify-content: center;
        @include m.desktop {
            align-items: center;
        }
    }
    
    &__email-contenido {
        position: relative;
        border-radius: 1.6rem;
    }
    
    &__email-texto {
        border: none;
        padding: 1.4rem 2rem;
        background-color: v.$beige;
        color: v.$terciario;
        border-radius: 1.6rem;
        font-weight: 700;
        width: 100%;
        min-width: 295px;
        max-width: 300px;
        @include m.telefono {
            max-width: 325px;
        }
        &:focus-visible {
            outline: 0;
        }
    }
    &__email-copiar {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        border-top-right-radius: 1.6rem;
        border-bottom-right-radius: 1.6rem;
        width: 4rem;
        height: 100%;
        background-image: url(../../../build/img/iconos/copy.svg), linear-gradient(to right, lighten(v.$beige, 10%) 0%, lighten(v.$beige, 10%) 100%);
        background-repeat: no-repeat;
        background-position: center center, center;
        background-size: 2rem, auto;
        cursor: pointer;
    }
    &__email-tooltip {
        position: absolute;
        bottom: -4rem;
        right: 9.8rem;
        padding: .5rem 1rem;
        background-color: green;
        color: v.$blanco;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 700;
        border-radius: 1.6rem;
        display: none;
    }
}

.nav {
    display: flex;
    order: 2;
    justify-content: space-evenly;
    @include m.tablet {
        justify-content: center;
        gap: 8rem;
    }

    &__enlace {
        color: v.$blanco;
        border-radius: 1.6rem;
        display: flex;
        align-items: center;
        font-size: 2rem;
        font-weight: 700;
        &::after {
            content: '';
            padding: 2rem;
            display: inline-block;
            background-size: 4rem;
        }

        &[href*="CV"]::after {
            background-image: url(../../../build/img/iconos/cv.svg);
        }
        &[href*="linkedin"]::after {
            background-image: url(../../../build/img/iconos/linkedin.svg);
        }
        &[href*="github"]::after {
            background-image: url(../../../build/img/iconos/github.svg);
        }
    }
    &__accesible {
        display: block;
        height: 1px;
        width: 1px;
        border: 0;
        padding: 0;
        clip: rect(0,0,0,0);
        overflow: hidden;
    }
}