// Fuentes
$fuentePrincipal: "Montserrat", sans-serif;
$fuenteHeading: "Kode Mono", monospace;
$fuenteSnippet: "Fira Code", monospace;

// Colores
$primario: #363062;
$secundario: #435585;
$terciario: #5e677f;
$beige: #F5E8C7;
$blanco: #FFFFFF;
$negro: #000000;

// Breakpoints
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktop-xxl: 1200px;