[class*="pl"] {
    color: #953800;
}

[id*="LC6"] span{
    color: #000000;
}

.pl-k + span {
    color: #8136a1;
    // font-weight: 400;
}

.pl-c1 + span {
    color: #000000;
}

.gist-meta {
    display: none;
}
